{% extends 'base.html' %}

{% block head %} 
<title>Movie Pick</title>
{% endblock %}

{% block body %}
<div id="page-title">
    <h1>Pick a movie for me!</h1>
</div>
<div class="get-movies">
    <form action="{{url_for('movies')}}" method="POST">
        <div class="input-container"></div>
            <label for="recommendations">Number of recommendations</label>
            <input type="number" id="recommendations" name="recommendations" required min="1" max="30" value="15">
            <br>
            <br>
            <label for="genre">Genre:</label>
            <br>
            <label for="comedy">Comedy</label>
            <input type="checkbox" name="comdy" id="comedy">
            <label for="action">Action</label>
            <input type="checkbox" name="action" id="action">
            <label for="romance">Romance</label>
            <input type="checkbox" name="romance" id="romance">
            <br>
            <label for="scifi">Sci fi</label>
            <input type="checkbox" name="Sci Fi" id="scifi">
            <label for="horror">Horror</label>
            <input type="checkbox" name="Horror" id="horror">
            <label for="animation">Animation</label>
            <input type="checkbox" name="Animation" id="animation">
            <br>
            <label for="crime">Crime</label>
            <input type="checkbox" name="Crime" id="crime">
            <label for="drama">Drama</label>
            <input type="checkbox" name="Drama" id="drama">
            <label for="fantasy">Fantasy</label>
            <input type="checkbox" name="Fantasy" id="fantasy">
            <label for="thriller">Thriller</label>
            <br>
            <input type="checkbox" name="Thriller" id="thriller">
            <label for="western">Western</label>
            <input type="checkbox" name="Western" id="western">
            <label for="adventure">Adventure</label>
            <input type="checkbox" name="Adventure" id="adventure">
            <br>
            <label for="musical">Musical</label>
            <input type="checkbox" name="Musical" id="musical">
            <label for="mystery">Mystery</label>
            <input type="checkbox" name="Mystery" id="mystery">
            
            <br>
            <br>
            <label>Actors</label>
            <br>
            <textarea name="actor" placeholder="Tom Cruise&#10;Samuel S. Jackson" rows="6" cols="20"></textarea>
            <br>
            <br>
            <label>Directors</label>
            <br>
            <textarea name="director" placeholder="Jon Watts&#10;The Rossos" rows="6" cols="20"></textarea>
            <br>
            <br>
            <button type="text" class="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}