{% extends 'base.html' %}

{% block head %} 
<title>Movie Pick</title>
{% endblock %}

{% block body %}
<div id="page-title">
    <h1>Pick a movie for me!</h1>
</div>
<div class="get-movies">
    <form action="{{url_for('movies')}}" method="POST">
        <div class="input-container"></div>
            <label for="recommendations">Number of recommendations</label>
            <input type="number" id="recommendations" name="recommendations" required min="1" max="30" value="15">
            <br>
            <br>
            <label>Genre:</label>
            <br>
            <label for="action">Action</label>
            <input type="radio" name="genre[]" id="action" value="Action">
            <label for="animation">Animation</label>
            <input type="radio" name="genre[]" id="animation" value="Animation">
            <label for="comedy">Comedy</label>
            <input type="radio" name="genre[]" id="comedy" value="Comedy">
            <br>
            <label for="crime">Crime</label>
            <input type="radio" name="genre[]" id="crime" value="Crime">
            <label for="drama">Drama</label>
            <input type="radio" name="genre[]" id="drama" value="Drama">
            <label for="fantasy">Fantasy</label>
            <input type="radio" name="genre[]" id="fantasy" value="Fantasy">
            <br>
            <label for="horror">Horror</label>
            <input type="radio" name="genre[]" id="horror" value="Horror">
            <label for="sci-fi">Sci-Fi</label>
            <input type="radio" name="genre[]" id="sci-fi" value="Sci-Fi">
            <label for="thriller">Thriller</label>
            <input type="radio" name="genre[]" id="thriller" value="thriller">
            <br>
            <label for="western">Western</label>
            <input type="radio" name="genre[]" id="western" value="Western">
            <label for="adventure">Adventure</label>
            <input type="radio" name="genre[]" id="adventure" value="Adventure">
            <label for="romance">Romance</label>
            <input type="radio" name="genre[]" id="romance" value="Romance">
            <br>
            <label for="musical">Musical</label>
            <input type="radio" name="genre[]" id="musical" value="Musical">
            <label for="mystery">Mystery</label>
            <input type="radio" name="genre[]" id="mystery" value="Mystery">
            <br>
            <br>
            <label for="actor">Actor</label>
            <br>
            <input type="text" name="actor" id="actor" placeholder="only one actor">
            <br>
            <br>
            <label for="director">Director</label>
            <br>
            <input type="text" name="director" id="director" placeholder="only one director">
            <br>
            <br>
            <button type="text" class="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}