{% extends 'base.html' %}

{% block head %} 
<title>Movie Pick</title>
{% endblock %}

{% block body %}
<div id="page-title">
    <h1>Here are your movies</h1>
</div>
<body>
    <table>
        <thead>
            <tr>
                <th>Movie Name</th>
                <th>Year</th>
                <th>Rating</th>
                <th>Streaming Service</th>
                <th>Streaming Service Price</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>{{ movies.movie_name }}</td>
                <td>{{ movies.year }}</td>
                <td>{{ movies.rating }}</td>
                <td>{{ StreamingServices.services_name }}</td>
                <td>{{ StreamingServices.services_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}